// Background Mixins //
@each $color, $value in $theme-gradient-colors {
  .bg-gradient-#{$color} {
    background: theme-gradient-color($color);
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0 !important;
    align-items: center;
  }
}
